<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>
    <div>
        <form action="/add" method="post">
            <input type="text" name="note" id="">
            <input type="submit" value="keep note">
        </form>
    </div>
    <div>
        <ul>
            {% for note in notes%}
            <li>
                {{note.note}}
                <a href="/delete/{{note.id}}">delete</a>
                <a href="/update/{{note.id}}">update</a>
            </li>
            {%endfor%}
        </ul>
    </div>
</body>
</html>